<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image for Prediction</title>
</head>
<body>

<h2>Upload an Image for Prediction</h2>

<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="photo">Choose an image:</label>
    <input type="file" name="photo" id="photo" accept=".jpg, .jpeg, .png, .gif"><br><br>
    <input type="submit" value="Predict">
</form>

</body>
</html>